{% extends 'base.html' %}
{% load static %}
{% block title %} My Blog about {% endblock title %}



{% block header %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'image/sportblog2.webp' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock header %}
        <!-- Main Content-->
{% block content %}
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>SportsBlog is your ultimate destination for all things sports. Whether you're a die-hard fan, an amateur athlete, or someone who enjoys following the latest sports news, SportsBlog offers a vibrant community and a wealth of content tailored to your interests.</p>
                        <p>Diverse Sports Coverage: From football and basketball to niche sports and emerging trends, SportsBlog covers a wide range of sports. Stay updated with game analyses, player interviews, and insightful commentary.</p>
                        <p>Real-Time Updates: Stay informed with real-time updates on scores, schedules, and breaking news. Never miss a moment of the action with our live coverage and timely notifications.</p>
                    </div>
                </div>
            </div>
        </main>
{% endblock content %}
        <!-- Footer-->
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2023</div>
                    </div>
                </div>
            </div>
        </footer>

